@mixin square($color) {
  height: 100%;
  aspect-ratio: 1 / 1;
  background: $color;
}

@mixin rectangle($color) {
  height: 100%;
  width: 100%;
  background: $color;
}

@mixin circle($color) {
  height: 100%;
  background: $color;
  border-radius: 50%;
}

@mixin triangle-up($color) {
  width: 100%;
  height: 100%;
  background: $color;

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@mixin triangle-down($color) {
  width: 100%;
  height: 100%;
  background: $color;

  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

@mixin triangle-left($color) {
  width: 100%;
  height: 100%;
  background: $color;

  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

@mixin triangle-right($color) {
  width: 100%;
  height: 100%;
  background: $color;

  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

@mixin trapezoid($color) {
  width: 100%;
  height: 100%;
  background: $color;

  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

@mixin rhombus($color) {
  width: 100%;
  height: 100%;
  background: $color;

  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
}
