$background-color-primary: #6EDA78;
$background-color-secondary: #FFA200;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background:
  radial-gradient(
    circle at top right,
    $background-color-secondary 0%,
    rgba(255, 162, 0, 0.8) 25%,
    transparent 90%
  ),
  linear-gradient($background-color-primary, $background-color-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home-button {
  position: absolute;
  top: 20px;
  right: 20px;
}