$divider-color: rgba(64, 64, 64, 0.1);
$text-primary-color: #171717;
$text-secondary-color: rgba(23, 23, 23, 0.65);

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.card {
  padding: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  width: 300px;
}

.divider {
  width: 100%;
  height: 1px;
  background: $divider-color;
  margin-top: 12px;
  margin-bottom: 12px;
}

.text-primary {
  font-size: 20px;
  font-weight: 600;
  color: $text-primary-color;
}

.text-secondary {
  font-size: 14px;
  font-weight: 400;
  color: $text-secondary-color;
}
